
<mat-card>
        <mat-card-content>
<form class="example-form">
<div>
  <mat-form-field  >
    <input [(ngModel)] = "name" name = "name" matInput placeholder="Name" required>
    <mat-hint>Your name</mat-hint>
    </mat-form-field>
</div>
<div>
    <mat-form-field >
    <input [(ngModel)] = "email" name = "email" matInput placeholder="Email" required>
    <mat-hint>Your email</mat-hint>
    </mat-form-field>
    <p class = "error" *ngIf = "error =='auth/invalid-email'">{{output}}</p>
   <p *ngIf = "error == 'auth/email-already-in-use'" style = "color: red">{{ output }} </p>
</div>
    
<div>
    <mat-form-field >
          <input [(ngModel)] = "password" name = "password" matInput placeholder="Password" required>
        <mat-hint>Try as strong as possible</mat-hint>
        </mat-form-field>
        <p class = "error" *ngIf = "error =='auth/weak-password'">{{output}}</p>
        <div *ngIf = "password == null" style = "color: red">{{ required }}</div>
</div>
<div>
        <mat-form-field >
              <input [(ngModel)] = "password2" name = "password2" matInput placeholder="confirm your password" required>
            <mat-hint>Retape your password</mat-hint>
            </mat-form-field>
            <p class = "error" *ngIf = "error =='auth/weak-password'">{{output}}</p>
            <div *ngIf = "password == null" style = "color: red">{{ required }}</div>
    </div>
<div>
        <mat-form-field >
              <input [(ngModel)] = "nickname" nickname = "nickname" matInput placeholder="Nickname" [ngModelOptions]="{standalone: true}" required>
            <mat-hint>Your nickname</mat-hint>
            </mat-form-field>
    </div>
    <div>
        <button mat-raised-button (click)="signup()">Sign up</button>
</div>
        </form>
    </mat-card-content>
</mat-card> 
