<mat-card>
        <mat-card-content>
          <form class="example-form">
            <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" value="" name = 'email' [(ngModel)]="email" required>
            </mat-form-field>
            <p *ngIf = "error=='auth/user-not-found'" class = "erorr">{{output}}</p>
            <p *ngIf = "error=='auth/argument-error'" class = "erorr">{{output}}</p> 
            </div>
            <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" value="" name = 'password' [(ngModel)]="password" required >
            </mat-form-field>
            <p *ngIf = "error=='auth/wrong-password'" class = "erorr">{{output}}</p> 
            <p *ngIf = "error=='auth/argument-error'" class = "erorr">{{output}}</p> 
            
            </div>      
            <div>
              <button  mat-raised-button  (click)="login()">
                Login
              </button>
            </div>                      
          </form>  
        </mat-card-content>
      </mat-card> 