<mat-card>
  <mat-card-content>
    
      <a  routerLink="/register">Register</a>-
      <a  routerLink="/books">Books</a>-
<button mat-raised-button *ngIf="authService.user | async" (click)="logout()">Logout</button>
<a  routerLink="/login" *ngIf="!(authService.user | async)" >Login</a>



</mat-card-content>
</mat-card>
