
<mat-card>
    <mat-card-content>
        <p *ngIf="authService.user | async">Welcome {{(authService.user | async)?.displayName}} </p>
    <p *ngIf="!(authService.user | async)">Please <a routerLink="/register">register</a> or <a routerLink="/login">login</a> to see your reading list</p>

    <div  *ngIf="authService.user | async">
        <mat-form-field>
            <input [(ngModel)] = "text" matInput placeholder="Add book">
            
            <mat-hint>Book list</mat-hint>
            </mat-form-field>
            <button mat-raised-button (click)="addbook()">Add</button>
    </div>
    <div  *ngIf="authService.user | async">
        <mat-form-field>
            <input [(ngModel)] = "text" matInput placeholder="Add writer">
            
            <mat-hint>Book list</mat-hint>
            </mat-form-field>
            <button mat-raised-button >Add</button>
    </div>
    <div  *ngIf="authService.user | async">
      <ul>
        <book *ngFor = "let book of books" [data]= "book"
        [data]= "todo"
        (myButtonClicked) = "showText($event)"></book>
      </ul>
    </div>
    
  

</mat-card-content>
</mat-card> 
